.contact-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contact-container button {
  height: 50%;
}

.error {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
